@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
	box-sizing: border-box;
}

body {
	color: #fff;
	font-family: 'Press Start 2P', cursive;
	margin: 0;
}

.App {
	align-items: center;
	background: #000;
	display: flex;
	flex-direction: column;
	height: calc( 1400px * 0.6 );
	justify-content: space-between;
	margin: 100px auto;
	width: 1400px;
}

.scene {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding: 20px;
	text-align: center;
	width: 100%;

	&.class-picker {
		.btn {
			margin: 5px 0;
		}

		.picker-buttons {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			max-width: 300px;
		}
	}
}

.label {
	border-bottom: 2px solid #fff;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.game-object {
	margin: 0 0 20px;
}

.enemy,
.card {
	background: #000;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin: 10px;
	width: 200px;
}

.enemy {
	.name {
		font-size: 18px;
		margin-bottom: 15px;
	}
}

.card {
	cursor: pointer;
	
	> div {
		padding-left: 10px;
		padding-right: 10px;
	}

	.name {
		background: green;
		font-size: 20px;
		margin-bottom: 10px;
		padding: 10px;
	}

	.desc {
		margin-top: 15px;
		padding-bottom: 10px;
	}

	&:not( .invalid ):hover,
	&.targeting {
		transform: translateY( -20px );
	}

	&.targeting {
		outline: 2px solid yellow;
	}

	&.invalid {
		cursor: default;
		opacity: 0.3;
	}
}

.card {
	background: #0032a7;
}

/* main button block */
.btn {
    background: #fff;
	color: #000;
	cursor: pointer;
    display:inline-block;
    height: 50px;
    line-height: 50px;
	margin-bottom: 10px;
    margin-left: 0.5em;
    padding: 0 15px;
    position: relative;
    text-align: center;
}

/* common background color to all */
.btn, .btn::before, .btn::after {
    background-color: #fff;
}

/* shared styles to make left and right lines */
.btn::before, .btn::after {
    content: '';
    height: 40px;
    position: absolute;
    top: 5px;
    width: 5px;

}

/* pull the left 'line' out to the left */
.btn::before {
    left: -5px;
}

/* pull the right 'line' out to the right */
.btn::after {
    right: -5px;
}

.btn:hover {
	background: #cacaca;

	&::before, &::after {
		background: #cacaca;
	}
}

.debug,
.player {
	align-items: center;
	background: #000;
	color: #fff;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	padding: 20px;
	width: 100%;

	h2 {
		margin: 0;
	}

	span span {
		color: red;
		display: block;
		margin-top: 10px;
	}
}

.player {
	background: grey;
}

.enemy {
	img {
		height: auto;
		margin-bottom: 10px;
		width: 100px;
	}
}

.curses {
	background: yellow;
	color: black;
	margin-top: 10px;

	span {
		display: block;
		padding: 3px 6px;
	}
}
